.text {
    font-family: Arial, Helvetica, sans-serif;
    color: #000;
  }

  .bold-text {
  font-weight: bold;
  }

  .italic-name {
  font-style:italic;
  color:white;
  padding: 10px;
  }

  .italic-surname {
    font-style:italic;
    color:#231651;
    padding: 10px;
    }

  .title {
    text-transform: uppercase;
    background-color: #35a576; 
  }

  .link {
  color: #00f;
  text-decoration:underline;
  }

  .link:visited {
    color:#005;
    text-decoration:underline;
  }

  .link:hover {
    color: #00f;
    text-decoration: none;
  }

  .items {
    list-style-type: square;
  }
 
  .border-bottom {
    border-bottom: 2px solid #000;
    width: 230px;
    padding: 0;
  }

  .image {
    position: absolute;
    width: 385px;
  }

  .sidebar-background {
    background-color:#2374AB;
    width: 385px;
    height: 100%;
  }
